# py
/env/

*.py[cod]
.pytest_cache/
.coverage
/htmlcov/
/.hypothesis/

/em2/.index/

# js
/js/node_modules/
/js/README.md
/js/.pnp
.pnp.js

/js/coverage

/js/build
/js/src/styles/bootstrap

/js/.env.local
/js/.env.development.local
/js/.env.test.local
/js/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
/.idea/
/sandbox/
/activate.local.sh
/TODO.md
/tests/test_scratch.py
/tests/robot_cookies.pkl
/js/src/.update.js
/tests/email.html
/.auto-format
