@import 'variables';

body {
  padding-top: 7rem;
  background-color: $body-back;
  padding-bottom: 3rem;
  overflow-y: scroll;
}

$stripe-width: 10px;
@mixin stripes($colour1, $lighten, $angle: 45deg) {
  background: repeating-linear-gradient(
    $angle,
    $colour1,
    $colour1 $stripe-width,
    lighten($colour1, $lighten) $stripe-width,
    lighten($colour1, $lighten) 2 * $stripe-width
  );
}

//$stripe-size: $stripe-width * 2.8284;  // sqrt(2) * 2
//@keyframes anim_back {
//  from {
//    background-position-x: 0;
//  }
//  50% {
//    background-position-x: $stripe-size;
//  }
//  to {
//    background-position-x: 0;
//  }
//}
// to use:
//  background-size: $stripe-size $stripe-size;
//  background-position-x: 0;
//  animation: anim_back 500ms ease-out;

@keyframes hide_msg {
  from {
    opacity: 1;
    top: 0;
  }
  90% {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: -5px;
  }
}

.extra-menu {
  top: 56px;
  height: 35px;
  transition: all 500ms ease;
  overflow: hidden;
  color: white;
  padding: 4px 0;
  @include stripes(#009688, 3%);

  .container {
    display: flex;
    justify-content: space-between;
  }
  &.anon {
    filter: brightness(70%);
  }
  &.offline {
    filter: grayscale(100%) brightness(120%);
  }
  .message {
    position: relative;
    animation: hide_msg 8s;
  }
}

.box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(84,96,103,.25);
  padding: 1rem;
  margin-bottom: 1rem;
  &.no-pad {
    padding: 0;
    > div {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.loading {
  width: 60px;
}

.login {
  iframe {
    width: 100%;
    height: 220px;
  }
}

.participants-input {
  .rbt-token {
    width: 100%;
  }
  .rbt-input {
    // matches when searching so no flicker when searching/not searching
    padding-right: 34px;
  }
  .form-control {
    height: auto;
  }
  .rbt-menu li.disabled {  // nothing found message
    font-size: 0.8rem;
  }
}

.conv-list {
  padding: 0;
  user-select: none;
  a {
    display: grid;
    grid-template-columns: 220px 1fr 220px;
    align-items: baseline;
    color: $gray-800;
    padding: 0.5rem 1rem;
    border-top: 1px solid $gray-200;
    &:hover {
      text-decoration: none;
      //background-color: $gray-100;
      box-shadow: inset 0 0 0 2px $input-btn-focus-color;
    }
    > div {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .subject {
      //font-size: 1.1rem;
      margin-right: 0.5rem;
      font-weight: bold;
    }
    .summary {
      color: #7790a9;
      .body {
        font-size: 0.9em;
        vertical-align: bottom;
      }
    }
    .details {
      text-align: right;
    }

    .icon {
      color: #627384;
      font-size: 0.8em;
      margin-right: 0.6rem;
      .fa {
        margin-right: 0.2rem;
      }
    }

    &.seen {
      background-color: darken($gray-100, 1%);
      .subject {
        font-weight: normal;
      }
    }
  }
}

.msg-details {
  p {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

textarea.msg {
  padding: 0.5rem 0.3rem;
  width: 100%;
  min-height: 120px;

  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  &:disabled {
    background: #f8f8f8;
  }
  &.comment {
    min-height: auto;
  }
}

.btn-comment {
  color: darken($secondary, 5%);
  //padding: 0.125rem 0.5rem;
  padding: 0;
}

.comment-reply {
  width: 30px;
}

.msg-iframe {
  width: 100%;
  height: 0;
}

.pagination {
  user-select: none;
}
