@import 'variables';

body {
  padding-top: 5.5rem;
  background-color: $body-back;
  padding-bottom: 3rem;
  overflow-y: scroll;
}

.navbar {
  box-shadow: 0 0 0.2rem rgba(0,0,0,.1), 0 0.2rem 0.4rem rgba(0,0,0,.2);

  @include media-breakpoint-up(md) {
    .custom-nav-item {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  .navbar-nav .navbar-dropdown {
    position: absolute;
  }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#status-icon {
  transition: all 500ms ease;
  &.fa-spinner {
    font-size: 0.8rem;
    animation: spin 2000ms infinite linear;
  }
  &.fa-circle {
    color: lightgreen;
    font-size: 0.8rem;
  }
  &.fa-times {
    color: red;
    padding-right: 2px;
  }
}

#search {
  width: 100%;
}

.login {
  iframe {
    width: 100%;
    height: 220px;
  }
}

.left-menu {
  $menu-transition-time: 300ms;
  .list-group-item ,.badge {
    transition: background-color $menu-transition-time ease, color $menu-transition-time ease;
  }
}

.participants-input {
  .rbt-token {
    width: 100%;
  }
  .rbt-input {
    // matches when searching so no flicker when searching/not searching
    padding-right: 34px;
  }
  .form-control {
    height: auto;
  }
  .rbt-menu li.disabled {  // nothing found message
    font-size: 0.8rem;
  }
}

.conv-list {
  padding: 0 !important;
  user-select: none;
  > a {
    display: grid;
    grid-template-columns: 220px 1fr 220px;
    align-items: baseline;
    color: $gray-800;
    padding: 0.5rem 1rem;
    border-top: 1px solid $gray-200;
    &:hover {
      text-decoration: none;
      //background-color: $gray-100;
      box-shadow: inset 0 0 0 2px $input-btn-focus-color;
    }
    > div {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .subject {
      //font-size: 1.1rem;
      margin-right: 0.5rem;
      font-weight: bold;
    }
    .summary {
      color: #7790a9;
      .body {
        font-size: 0.9em;
        vertical-align: bottom;
      }
    }
    .details {
      text-align: right;
    }

    .icon {
      color: #627384;
      font-size: 0.8em;
      margin-right: 0.6rem;
      .fa {
        margin-right: 0.2rem;
      }
    }

    &.seen {
      background-color: #f9f9fb;  // lighten($gray-100, 1%);
      .subject {
        font-weight: normal;
      }
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }
  }
}

.conv-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

.msg-details {
  p {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

textarea.msg {
  padding: 0.5rem 0.3rem;
  width: 100%;
  min-height: 120px;

  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  &:disabled {
    background: #f8f8f8;
  }
  &.comment {
    min-height: auto;
  }
}

.btn-comment {
  color: darken($secondary, 5%);
  //padding: 0.125rem 0.5rem;
  padding: 0;
}

.comment-reply {
  width: 30px;
}

.msg-iframe {
  width: 100%;
  height: 0;
  border: none;
  overflow: hidden;
}

.pagination {
  user-select: none;
}

$item-size: 220px;
.dropzone {
  width: 100%;
  min-height: 200px;
  border-radius: 4px;
  border: 1px dashed black;
  padding: 10px;
  color: #444;
  text-align: center;
  .previews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .file-preview {
    padding: 5px;
    width: $item-size;
    font-size: 13px;
    img {
      width: $item-size;
      max-height: $item-size;
      object-fit: cover;
    }
  }
}
