@import 'variables';

$status-top: 56px;
$status-height-sm: 20px;
$status-height-md: 32px;

body {
  padding-top: $status-top + $status-height-sm + 4px;
  @include media-breakpoint-up(md) {
    padding-top: $status-top + $status-height-md + 4px;
  }
  background-color: $body-back;
  padding-bottom: 3rem;
  overflow-y: scroll;
}

.navbar {
  box-shadow: 0 0 0.2rem rgba(0,0,0,.1), 0 0.2rem 0.4rem rgba(0,0,0,.2);

  @include media-breakpoint-up(md) {
    .custom-nav-item {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  .navbar-nav .navbar-dropdown {
    position: absolute;
  }
}

#menu-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

.status-bar {
  position: fixed;
  top: $status-top - $status-height-sm;
  right: 0;
  left: 0;
  z-index: 1029;
  color: white;
  height: $status-height-sm;
  @include media-breakpoint-up(md) {
    top: $status-top - $status-height-md;
    height: $status-height-md;
  }
  transition: top 500ms ease;
  &.show {
    top: $status-top;
  }
  .text {
    //height: $status-height-sm;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: $status-height-sm - 1;
    @include media-breakpoint-up(md) {
      line-height: $status-height-md - 1;
    }
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#status-icon {
  transition: all 500ms ease;
  &.fa-spinner {
    font-size: 0.8rem;
    animation: spin 2000ms infinite linear;
  }
  &.fa-circle {
    color: lightgreen;
    font-size: 0.8rem;
  }
  &.fa-times {
    color: red;
    padding-right: 2px;
  }
}

#search {
  width: 100%;
  input {
    border: none;
  }
  input, .dropdown-menu {
    width: 100%;
  }
  .dropdown-item.active .text-muted {
    color: $gray-200 !important;
  }
  .rbt-loader {
    border-width: 3px;
  }
  .item {
    display: grid;
    grid-template-columns: 1fr auto;
    > div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.login {
  iframe {
    width: 100%;
    height: 220px;
  }
}

.with-menu {
  display: flex;
  margin-right: -$grid-gutter-width / 2;
  margin-left: -$grid-gutter-width / 2;
  > div {
    padding-right: $grid-gutter-width / 2;
    padding-left: $grid-gutter-width / 2;
    width: 100%;
  }
}

.left-menu {
  flex: 0 0 25%;
  max-width: 25%;
  $menu-transition-time: 300ms;
  .list-group-item, .badge {
    transition: background-color $menu-transition-time ease, color $menu-transition-time ease;
  }
}

.left-menu-fixed {
  position: fixed;
  top: $status-top + $status-height-sm + 4px;
  @include media-breakpoint-up(md) {
    top: $status-top + $status-height-md + 4px;
  }
}

@include media-breakpoint-up(md) {
  .beside-menu {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.participants-input {
  .rbt-token {
    width: 100%;
  }
  .rbt-input {
    // matches when searching so no flicker when searching/not searching
    padding-right: 34px;
  }
  .form-control {
    height: auto;
  }
  .rbt-menu li.disabled {  // nothing found message
    font-size: 0.8rem;
  }
}

.conv-list {
  padding: 0 !important;
  user-select: none;
  > a {
    display: grid;
    grid-template-columns: 220px 1fr 220px;
    @include media-breakpoint-down(md) {
      grid-template-columns: 220px 1fr 160px;
    }
    @include media-breakpoint-down(sm) {
      grid-template-columns: auto 0 120px;
      font-size: 0.9rem;
    }
    align-items: baseline;
    color: $gray-800;
    padding: 0.5rem 1rem;
    border-top: 1px solid $gray-200;
    &:hover {
      text-decoration: none;
      //background-color: $gray-100;
      box-shadow: inset 0 0 0 2px $input-btn-focus-color;
    }
    > div {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .subject {
      //font-size: 1.1rem;
      margin-right: 0.5rem;
      font-weight: bold;
    }
    .summary {
      color: #7790a9;
      .body {
        font-size: 0.9em;
        vertical-align: bottom;
      }
    }
    .details {
      text-align: right;
    }

    .icon {
      color: #627384;
      font-size: 0.8em;
      margin-right: 0.6rem;
      .fa {
        margin-right: 0.2rem;
      }
    }

    &.seen {
      background-color: #f9f9fb;  // lighten($gray-100, 1%);
      .subject {
        font-weight: normal;
      }
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }
  }
}

.conv-subject {
  .icon {
    margin-right: $spacer * .5;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.conv-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

.msg-details {
  p {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.md {
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-word;

  p {
    margin-bottom: 0.5rem;
  }
  blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
  }
  code {
    color: $body-color;
    background: #f3f3f3;
    border-radius: 3px;
    padding: .2em .4em;
  }
  pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    padding: 12px;
    code {
      background: none;
      border-radius: 0;
      padding: 0;
    }
  }
}

.editor {
  padding: 0;
  width: 100%;
  overflow: hidden;

  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  &:disabled, &.disabled {
    background: #f8f8f8;
  }
  #slate-editor {
    padding: 0.5rem 0.3rem 0;
    min-height: 100px;
    height: 150px;
    overflow: auto;
  }
  .resize {
    padding: 0;
    min-height: 0;
    height: 0.8rem;
    width: 100%;
    cursor: s-resize;
    background: $gray-100;
    color: $gray-600;
    text-align: center;
    line-height: 0.6rem;
  }
  &.error {
    border: 1px solid $form-feedback-invalid-color;
  }
}
textarea.editor {
  min-height: 146px;
}

.btn-comment {
  color: darken($secondary, 5%);
  //padding: 0.125rem 0.5rem;
  padding: 0;
}

.comment-reply {
  width: 30px;
}

.msg-iframe {
  width: 100%;
  height: 0;
  border: none;
  overflow: hidden;
}

.pagination {
  user-select: none;
}

$item-width: 100px;
$item-height: 50px;
$file-summary-height: $item-height + 40px;
.dropzone {
  position: relative;
  outline: none;
  .previews {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  .file-summary {
    font-size: 12px;
    margin: 0 20px;
    text-align: center;
    height: $file-summary-height;
    //border: 1px dotted #888;
  }
  .file-summary-main {
    height: 100%;
    width: $item-width;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .file-preview {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $item-width;
    height: $item-height;
    img {
      width: $item-width;
      max-height: $item-height;
      object-fit: cover;
    }
  }
  .preview-overlay {
    align-items: center;
    justify-content: center;
    position: relative;
    top: -$file-summary-height;
    width: 100%;
    height: $file-summary-height;
    z-index: 999;
    color: #888;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  .full-overlay {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    border: 4px dashed #ccc;
    color: #ccc;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
  }
}
