# these packages are slow to install so it's a pain to have to reinstall them every time a dependency changes
# hence the split requirements file
asyncpg==0.18.3
cryptography==2.5
misaka==2.1.1
pycares==2.3.0
pycryptodome==3.7.3
ujson==1.35
uvloop==0.12
aiobotocore==0.10.2
